In [3]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.10-cp312-cp312-win_amd64.whl.metadata (5.0 kB)
Downloading psycopg2-2.9.10-cp312-cp312-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ------------------ --------------------- 0.5/1.2 MB 2.4 MB/s eta 0:00:01
   ---------------------------------------- 1.2/1.2 MB 3.2 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.10

In [1]:
import os, psycopg2, pandas as pd

conn = psycopg2.connect(
    host=os.getenv("DB_HOST", "db"),
    database=os.getenv("DB_NAME", "ml_data"),
    user=os.getenv("DB_USER", "ml_user"),
    password=os.getenv("DB_PASSWORD", "ml_pass")
)

cur = conn.cursor()
cur.execute("CREATE TABLE IF NOT EXISTS experiments(id SERIAL PRIMARY KEY, name TEXT, accuracy FLOAT);")
cur.execute("INSERT INTO experiments(name, accuracy) VALUES ('model_v1', 0.93);")
conn.commit()

df = pd.read_sql("SELECT * FROM experiments;", conn)
print(df)
cur.close(); conn.close()

   id      name  accuracy
0   1  model_v1      0.93

/tmp/ipykernel_18/999964943.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM experiments;", conn)

In [2]:
print(os.getenv("DB_HOST"), os.getenv("DB_NAME"), os.getenv("DB_USER"))

db ml_data ml_user

In [3]:
df.head()

   id      name  accuracy
0   1  model_v1      0.93